name: Deploy to Shared Hosting

on:
  push:
    tags:
      - "v*"   # contoh: v1.0.0

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Node setup
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ secrets.NODE_VERSION }}

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Build Nuxt in production
      - name: Build Nuxt
        run: npm run build

      # Deploy via FTP
      - name: Upload build via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: ${{ secrets.FTP_PORT }}
          protocol: ftp
          local-dir: ".output/"
          server-dir: ${{ secrets.FTP_REMOTE_DIR }}

